section(data-ng-controller="EndorsementController as ctrl", data-ng-init="ctrl.initCreate()")
  h3 New Endorsement
  div.container
    div.container(data-ng-repeat="version in ctrl.agreement.documents", data-ng-hide="version.obsolete")
      label
        input(name="version-group", type="radio", data-ng-checked="ctrl.docIndex === $index", data-ng-click="ctrl.setDocIndex($index)")
        span Version: {{version.version}}, Language: {{version.language}}
  div.container
    div.card-panel.teal
      span.white-text(data-ng-bind-html="ctrl.agreementText")
  div.container
    a.waves-effect.waves-light.btn
      i.material-icons.left fingerprint
      | Sign Here
