section(data-ng-controller="EndorsementController as ctrl", data-ng-init="ctrl.initCreate()")
  h3 New Endorsement
  div.container
    div.container(data-ng-repeat="version in ctrl.agreement.documents", data-ng-hide="version.obsolete")
      label
        input(name="version-group", type="radio", data-ng-checked="ctrl.docIndex === $index", data-ng-click="ctrl.setDocIndex($index)")
        span Version: {{version.version}}, Language: {{version.language}}
  div.container
    div.card-panel.teal
      span.white-text(data-ng-bind-html="ctrl.agreementText")
  div.container.center
    a.waves-effect.waves-light.btn-large.pulse(data-ng-click="ctrl.sign()")
      i.material-icons.left fingerprint
      | Sign Here
  div.container(data-ng-show="ctrl.signature")
    h4 Signature
      div.input-field
        i.material-icons.prefix calendar_today
        input(id="signature-date", type="text", data-ng-model="ctrl.signature.date")
        label(for="signature-date") Date
      div.input-field
        i.material-icons.prefix fingerprint
        textarea.materialize-textarea(id="signature-bytes", name="signature-bytes", type="text", data-ng-model="ctrl.signature.bytesText")
      div.input-field
        input.btn.waves-effect.waves-light(type="submit", data-ng-click="ctrl.submit()", value="Submit")
  div.clearfix
